# Dependencies
node_modules
npm-debug.log
bower_components

# Build outputs
dist
build
*.tsbuildinfo
.tscache

# Docker (self-referential)
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git
.gitignore

# Env (Only copy explicit envs if needed, usually we don't want secrets in image)
.env*
!.env.sample
!.env.example

# IDE
.vscode
.idea
.history

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Documentation & Others
README.md
PLAN.md
LICENSE
docs/
example_app/
pg_example/